
body main{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(https://e0.pxfuel.com/wallpapers/452/6/desktop-wallpaper-poster-movie-film-movies-posters-bollywood-movie-collage.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

main .boxCenter{
    max-width: 980px;

}

main .formBox {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    padding: 1rem;
}

main .formBox h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 28px;
}

main .formBox .form-control{
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 16px;
}


main form input.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(185,45,43,.25);
}


::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(100%);
}

::-webkit-calendar-picker-indicator:hover {
    filter: invert(100%) sepia() saturate(10000%) hue-rotate(0deg);
    /* opacity: 1; */
  }

.btn{
    width: 100%;
    font-weight: bold;
    background-color: var(--vermelho);
}

