

*, ::after, ::before {
    box-sizing: border-box;
}

a{
    color: var(--dourado);
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}

.media-box-title {
    width: 100%;
    margin: 0;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem 0.3rem ;
}

.play{
    position: absolute;
    top: 10;
    left: 30%;
    padding-bottom: 50%;
    /* display: flex; */
    z-index: 2;
}

section .row .media-box {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border: 2px solid #104d75;
    box-shadow: 0px 0px 9px #09081b7a;
}

section .row .media-thumb {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-bottom: 158%;
    transition: .3s all ease;
    
}

.media-thumb::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

}

.media-info {
    position: absolute;
    background: linear-gradient(to top, #0c0f21, #0000);
    text-align: center;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.media-box-category {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}


section .media-box:hover {
    transition: 0.7s;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 5px var(--dourado));
    border: 2px solid var(--dourado);
}



.bodyText {
    background-color: linear-gradient(to top, #0c0f21, #0000) !important;
    /* text-align: center;
    bottom: 0;
    right: 0;
    width: 100%; */
}

.teste {
    overflow: hidden;
    z-index: 3;
}

.card:hover {
    cursor: pointer;
    transition: all .5s ease-in-out;
    transition: transform .7s;
    transform: scale(1.05);
}

.centralizar {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
